{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Videos uploaded by {{current_user.name}} 
</h1>

<h2> VIDEOS </h2>

<style>
table, th, td { 
    border:1px solid black;
}
</style>
<body>


<table style="width:100%">

    <tr>
        <th>File ID</th>
        <th>Filename</th>
        <th>Date</th>
    </tr>

    {% for video in uvideos %}

        <tr>
            
        <td>{{video.id}}</td>
        <td><a class="nav-link" href="{{url_for("faces_gallery", videoid=video.id) }}">{{video.name}}</a></td>
        <td>{{video.date}}</td>

        </tr>

    {% endfor %}

</table>

</body>

{% endblock %}

